.card-wrap {
  margin-bottom: 20px;
  perspective: 100rem;
  background-color: #fff;
  
  &.flipped > .card { 
    transform: rotateY(180deg);
  }
}

.card {
  width: 60vw;
  max-width: 670px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s;

  border-radius: 4px; 

  &_front,
  &_back {
    padding: 15px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 4px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
  }

  &_front {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  &_back {
    transform: rotateY(180deg);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
    & > .card_heading  {
      margin-bottom: 14px;
    }

    &-table {
      width: 80%;
    }

    &-table thead {
      color: #fff;
      height: 30px;
    }

    &-table tr{
      text-align: center;
    }
  }
  &_meal-picture { 
    margin-bottom: 20px;

    width: 400px;
    height: 300px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 10%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  }

  &_meal-text {
    display: flex;
    flex-direction: column;
  }

  &_meal-info {
    margin-bottom: 20px;

    display: flex; 
    justify-content: space-between;

    width: 100%;

    font-size: 0.8em;
    color: rgb(131, 131, 131);
  }

  &_meal-main-text {
    display: flex;
    flex-direction: column;
  }

  &_heading {
    margin-bottom: 24px;
    text-align: center;
  }

  &_instructions {
    font-size: 0.9em;
    color: rgb(102, 102, 102);
  }

  &_more-less-text {

    align-self: flex-end;

    font-size: 0.8em;
    color: rgb(99, 99, 99);

    &:hover {
      cursor: pointer;
      color:rgba(0, 0, 0, 0.5);
    }
  }
}